/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2016, 11:40:02 PM
    Author     : andrewclawson
*/

input
{
    height:15px;
    width:20px;
}