/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 13, 2016, 1:13:40 AM
    Author     : andrewclawson
*/


.startup-header
{
    /*background:linear-gradient(to bottom right,#999999,blue);*/
    height:200px;
    background:url('background-images/mountains1.jpg') no-repeat center center;
    background-size:cover;
}

.dashboard-header{
    height:200px;
    background:url('background-images/mountains1.jpg') no-repeat center center;
    background-size:100%;
}

div.dashboard_content
{
    height:450px;
    
}
div.footer
{
    height:60px;
}